
body {
	font-family: Palatino, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.container{
	width: 88%;
	margin: auto;
	overflow: hidden;
}

.button_1{
	height: 38px;
	background:#F9D342;
	border:0;
	padding-left: 20px;
	padding-right:20px;
	color:#ffffff;
}

.dark{
	padding:15px;
	background:#4A274F;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}

/* Header */
header{
	background: #4A274F;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 25px;
	min-height:70px;
	border-bottom: #F9D342 3px solid;
}

header a{
	color:#ffffff;
	text-decoration: none;
	font-size:16px;
}

header ul {
	margin: 0;
	padding:0;
}
	
header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding img{
	width: 35%;
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color:#F9D342;
	font-weight: bold;
}

header a:hover{
	color:#cccccc;
}

/* Showcase */
#showcase{
	min-height:400px;
	background: url('./PeruvianPlaza.JPG') no-repeat 0 -800px;
	text-align:center;
	color:#ffffff;
}

#showcase h1{
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
	font-family: 'Bungee Shade', cursive;
}

#showcase p{
	font-size:20px;
}

/* Newsletter */
#newsletter{
	padding:15px;
	color:#ffffff;
	background:#4A274F;
}

#newsletter h1{
	float:left;
}

#newsletter form {
	float:right;
	margin-top:15px;
}

#newsletter input[type="email"]{
	padding:4px;
	height: 25px;
	width:250px;
}

/* Boxes */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align:center;
	width:30%;
	padding:10px;
}

#boxes .box img{
	width:90px;
}

footer{
	padding: 20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#F9D342;
	text-align: center;
	font-size: 12px;
}

/*About Us*/
#about {
	padding:15px;
	color:#ffffff;
	background:#4A274F;
}

.column {
	float: right;
	width: 46%;
	margin: 2%;
}
.row: after {
	content: "";
	display: table;
	clear: both;
}

/*Events*/


/* Media Queries */
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newletter h1,
	#newletter form,
	#boxes .box,
	
	header{
		padding-bottom:20px;
	}
	
	#showcase h1{
		margin-top:40px;
	}
	
	#newsletter button, .quote button{
		display:block;
		width:100%;
	}
	
	#newletter form input[type="email"], .quote input, .quote textarea{
		width:100%;
		margin-bottom:5px;
	}
	.column {
		width: 100%;
	}
}
